{% extends 'base.html'%}

{% block title %}About{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="container">
<div class="row">
<blockquote>
<p>The main objective of our existance is to provide the quality services to the customers, minimizing their efforts in searching for human resource by making <br>and at the same time facilitating
 the workers in finding the work that matches their skills. <br>We ensure safety of workers, strictly avoid child labour from hazardous occupations and processes, 
 enforcement of labour laws and promoting skill development.</p>
 </blockquote>
</div>
<div class="row">
<blockquote>
<h3><u><strong>Mission</strong></u></h3>
<p>Providing good quality services to customers and ensuring quick accessibility of the 
man power at reasonable charges thereby facilitating in enhancing employability.
</blockquote>
</div>
<div class="row">
<blockquote>
<h3><u><strong>Vision</strong></u></h3>
Decent working conditions and improved quality of life of workers, 
ensuring India without child labor in hazardous sectors, enhancing employability and promoting skill development.
</p>
</blockquote>
</div>
</div>
{% endblock %}